<h1>New musician applicant form</h1>

<%= render "form", musician_applicant_form: @musician_applicant_form %>

<br>

<div>
  <%= link_to "Back to musician applicant forms", musician_applicant_forms_path %>
</div>
