<h1>New management applicant form</h1>

<%= render "form", management_applicant_form: @management_applicant_form %>

<br>

<div>
  <%= link_to "Back to management applicant forms", management_applicant_forms_path %>
</div>
