<h1>Editing available frontstage form</h1>

<%= render "form", available_frontstage_form: @available_frontstage_form %>

<br>

<div>
  <%= link_to "Show this available frontstage form", @available_frontstage_form %> |
  <%= link_to "Back to available frontstage forms", available_frontstage_forms_path %>
</div>
