<h1>New available frontstage form</h1>

<%= render "form", available_frontstage_form: @available_frontstage_form %>

<br>

<div>
  <%= link_to "Back to available frontstage forms", available_frontstage_forms_path %>
</div>
