<h1>New investor company form</h1>

<%= render "form", investor_company_form: @investor_company_form %>

<br>

<div>
  <%= link_to "Back to investor company forms", investor_company_forms_path %>
</div>
