<h1>Editing information form</h1>

<%= render "form", information_form: @information_form %>

<br>

<div>
  <%= link_to "Show this information form", @information_form %> |
  <%= link_to "Back to information forms", information_forms_path %>
</div>
