<h1>Editing management request form</h1>

<%= render "form", management_request_form: @management_request_form %>

<br>

<div>
  <%= link_to "Show this management request form", @management_request_form %> |
  <%= link_to "Back to management request forms", management_request_forms_path %>
</div>
