<h1>Editing update form</h1>

<%= render "form", update_form: @update_form %>

<br>

<div>
  <%= link_to "Show this update form", @update_form %> |
  <%= link_to "Back to update forms", update_forms_path %>
</div>
