<div class="entity">
  <h1>Welcome to Project Portal!</h1>
  <p>Please explore the Main Page and check out the various projects we currently have in store.
  If you would like to get involved in the project, you can either join the management team, help backstage or on-stage, or even join as one of our esteemed investors.
  For more.</p>

  <div class="directions">
    <div class="row">
      <div class="button">
        <%= link_to "User", new_user_registration_path( status: { status:"user" }), class: "btn btn-pink text-grey text-uppercase fw-bold", style: "color:black"%>
      </div>
      <div class="button">
      <%= link_to "Admin", admin_session_path( status: { status:"admin" }), class: "btn btn-pink text-grey text-uppercase fw-bold", style: "color:black" %>
    </div>
  </div>
</div>
