<h1>New management review form</h1>

<%= render "form", management_review_form: @management_review_form %>

<br>

<div>
  <%= link_to "Back to management review forms", management_review_forms_path %>
</div>
