<h1>Editing artist applicant form</h1>

<%= render "form", artist_applicant_form: @artist_applicant_form %>

<br>

<div>
  <%= link_to "Show this artist applicant form", @artist_applicant_form %> |
  <%= link_to "Back to artist applicant forms", artist_applicant_forms_path %>
</div>
