<h1>Editing available backstage form</h1>

<%= render "form", available_backstage_form: @available_backstage_form %>

<br>

<div>
  <%= link_to "Show this available backstage form", @available_backstage_form %> |
  <%= link_to "Back to available backstage forms", available_backstage_forms_path %>
</div>
