<h1>Editing new project form</h1>

<%= render "form", new_project_form: @new_project_form %>

<br>

<div>
  <%= link_to "Show this new project form", @new_project_form %> |
  <%= link_to "Back to new project forms", new_project_forms_path %>
</div>
