<h1>Editing actor applicant form</h1>

<%= render "form", actor_applicant_form: @actor_applicant_form %>

<br>

<div>
  <%= link_to "Show this actor applicant form", @actor_applicant_form %> |
  <%= link_to "Back to actor applicant forms", actor_applicant_forms_path %>
</div>
