<h1>Editing investor invest form</h1>

<%= render "form", investor_invest_form: @investor_invest_form %>

<br>

<div>
  <%= link_to "Show this investor invest form", @investor_invest_form %> |
  <%= link_to "Back to investor invest forms", investor_invest_forms_path %>
</div>
