<h1>Editing glitch input form</h1>

<%= render "form", glitch_input_form: @glitch_input_form %>

<br>

<div>
  <%= link_to "Show this glitch input form", @glitch_input_form %> |
  <%= link_to "Back to glitch input forms", glitch_input_forms_path %>
</div>
